@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  background: #ffffff; }

@-webkit-keyframes animate-bg {
  to {
    background-position: 110% 100%, -50% -20%, 100% 10%, 100% 100%; } }

@keyframes animate-bg {
  to {
    background-position: 110% 100%, -50% -20%, 100% 10%, 100% 100%; } }

body {
  height: 100vh;
  margin: 0;
  padding: 45px 55px 0;
  background: url("../img/bg3.png") no-repeat right top, url("../img/bg1.png") no-repeat left center, url("../img/bg2.png") no-repeat right bottom, -webkit-gradient(linear, left top, right top, color-stop(0, #99419a), color-stop(50%, #d4436c), to(#eaa230));
  background: url("../img/bg3.png") no-repeat right top, url("../img/bg1.png") no-repeat left center, url("../img/bg2.png") no-repeat right bottom, -webkit-linear-gradient(left, #99419a 0, #d4436c 50%, #eaa230 100%);
  background: url("../img/bg3.png") no-repeat right top, url("../img/bg1.png") no-repeat left center, url("../img/bg2.png") no-repeat right bottom, -o-linear-gradient(left, #99419a 0, #d4436c 50%, #eaa230 100%);
  background: url("../img/bg3.png") no-repeat right top, url("../img/bg1.png") no-repeat left center, url("../img/bg2.png") no-repeat right bottom, linear-gradient(90deg, #99419a 0, #d4436c 50%, #eaa230 100%);
  background-size: contain;
  -webkit-animation: animate-bg 30s linear infinite alternate;
          animation: animate-bg 30s linear infinite alternate; }

h1 {
  font-family: "Gotham Pro Black";
  font-size: 30px;
  margin: 0 0 45px;
  text-transform: uppercase; }

.logo {
  height: 52px;
  width: 172px;
  background: url("../img/koloro-logo.png") no-repeat center;
  background-size: cover;
  margin-bottom: 60px; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  color: #ffffff;
  padding: 0 20px;
  overflow: hidden; }
  .content section {
    width: 60%;
    height: 100%; }
    .content section p {
      font-size: 14px;
      margin: 20px 0; }

.content section p:nth-child(2) {
  font-weight: bold;
  text-transform: uppercase; }

#image {
  display: inline-block;
  width: 40%;
  height: 100%;
  background: url("../img/Игра престолов-белый.png") no-repeat center right;
  background-size: contain;
  margin-bottom: -5%; }

#form {
  width: 44%;
  margin-top: 40px; }
  #form input {
    width: 100%;
    height: 30px;
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 10px;
    color: #ffffff;
    outline: rgba(60, 156, 255, 0.8); }
    #form input::-webkit-input-placeholder {
      color: #ffffff; }
    #form input::-ms-input-placeholder {
      color: #ffffff; }
    #form input::placeholder {
      color: #ffffff; }
    #form input[type=submit] {
      height: 40px;
      background: #ffffff;
      border-radius: 50px;
      color: black;
      font-family: "Gotham Pro";
      font-weight: bold;
      font-size: 11px;
      border-bottom: none;
      margin: 20px 0 0 0; }
      #form input[type=submit]:hover {
        background: #ffb61c;
        color: #ffffff; }
