*{
  box-sizing: border-box;
}
html{
  background: #ffffff;
}
@keyframes animate-bg {
  to{
    background-position: 110% 100%, -50% -20%, 100% 10%, 100% 100%;
  }
}
body{
  height: 100vh;
  margin: 0;
  padding: 45px 55px 0;
  background:
          url('../img/bg3.png')no-repeat right top,
          url('../img/bg1.png')no-repeat left center,
          url('../img/bg2.png')no-repeat right bottom,
          linear-gradient(90deg, #99419a 0,#d4436c 50%, #eaa230 100%);
  background-size: contain;
  animation: animate-bg 30s linear infinite alternate;
}

h1{
  font-family: "Gotham Pro Black";
  font-size: 30px;
  margin: 0 0 45px;
  text-transform: uppercase;
}
.logo{
  height: 52px;
  width: 172px;
  background: url("../img/koloro-logo.png")no-repeat center;
  background-size: cover;
  margin-bottom: 60px;
}
.content{
  display: flex;
  height: 100%;
  width: 100%;
  color: #ffffff;
  padding: 0 20px;
  overflow: hidden;
  section{
    width: 60%;
    height: 100%;
    p{
      font-size: 14px;
      margin: 20px 0;
    }

  }

}
.content section p:nth-child(2){
  font-weight: bold;
  text-transform: uppercase;
}
#image{
  display: inline-block;
  width: 40%;
  height: 100%;
  background: url("../img/Игра престолов-белый.png")no-repeat center right;
  background-size: contain;
  margin-bottom: -5%;
}

#form{
  width: 44%;
  margin-top: 40px;
  input{
    width:100%;
    height: 30px;
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 10px;
    color: #ffffff;
    outline: rgba(60, 156, 255, 0.8);
    &::placeholder{
      color: #ffffff;
    }
    &[type = submit]{
      height: 40px;
      background: #ffffff;
      border-radius: 50px;
      color: black;
      font-family: "Gotham Pro";
      font-weight: bold;
      font-size: 11px;
      border-bottom: none;
      margin: 20px 0 0 0;
      &:hover{
        background: #ffb61c;
        color: #ffffff;
      }
    }
  }
}

